version: 3.0.0
name: world_countries
description: Sealed world data in form of Flutter widgets (country, phone, currency pickers, etc.).
maintainer: Roman Cinis
repository: https://github.com/tsinis/sealed_world/tree/main/packages/world_countries
issue_tracker: https://github.com/tsinis/sealed_world/issues
topics:
  - picker
  - sealed
  - country-picker
  - country-selector
  - currency-picker

screenshots:
  - description: "Structure visualization"
    path: doc/structure.webp
  - description: "Use with SearchAnchor widget"
    path: doc/search_anchor.webp
  - description: "Search picker example"
    path: doc/search_picker.webp
  - description: "Modal bottom sheet picker example"
    path: doc/modal_picker.webp
  - description: "Dialog picker example"
    path: doc/dialog_picker.webp
  - description: "Country data example"
    path: doc/country_data.webp
  - description: "Currency data example"
    path: doc/currency_data.webp
  - description: "Language data example"
    path: doc/language_data.webp

environment:
  sdk: ^3.6.0
  flutter: ">=3.27.1"

dependencies:
  flutter:
    sdk: flutter
  world_flags: ^2.0.1

dev_dependencies:
  _sealed_world_tests:
    path: ../_sealed_world_tests
  build_runner: ^2.4.14 # From Google
  dart_code_metrics_presets: ^2.20.0
  flutter_gen_runner: ^5.8.0
  flutter_test: # From Google
    sdk: flutter
  lints: ^5.1.1 # From Google

flutter:
  uses-material-design: true # Pickers using the Material icon font.
