version: 1.0.0
name: world_countries
description: Sealed world data in form of Flutter widgets (country, phone, currency pickers, etc.).
maintainer: Roman Cinis
repository: https://github.com/tsinis/sealed_world/tree/main/packages/world_countries
issue_tracker: https://github.com/tsinis/sealed_world/issues
topics:
  - picker
  - sealed
  - country-picker
  - country-selector
  - currency-picker

screenshots:
  - description: "Structure visualization"
    path: doc/structure.webp
  - description: "Use with SearchAnchor widget"
    path: doc/search_anchor.webp
  - description: "Search picker example"
    path: doc/search_picker.webp
  - description: "Modal bottom sheet picker example"
    path: doc/modal_picker.webp
  - description: "Dialog picker example"
    path: doc/dialog_picker.webp
  - description: "Country data example"
    path: doc/country_data.webp
  - description: "Currency data example"
    path: doc/currency_data.webp
  - description: "Language data example"
    path: doc/language_data.webp

environment:
  sdk: ^3.0.0
  flutter: ">=3.16.0"

dependencies:
  flutter:
    sdk: flutter
  sealed_countries: ^1.0.0

dev_dependencies:
  build_runner: ^2.4.7 # From Google
  dart_code_metrics: # Flutter Favorite
    git:
      url: https://github.com/tsinis/dart-code-metrics
  flutter_gen_runner: ^5.3.2
  flutter_test: # From Google
    sdk: flutter
  lints: ^3.0.0 # From Google

executables:
  clean_build:

flutter:
  assets:
    - lib/assets/

  fonts:
    # Twemoji
    - family: TwemojiTTF
      fonts:
        - asset: packages/world_countries/assets/fonts/Twemoji/Twemoji.Mozilla.ttf
    - family: TwemojiWOFF2
      fonts:
        - asset: packages/world_countries/assets/fonts/Twemoji/Twemoji.Mozilla.woff2

    # OpenMoji
    - family: OpenMojiCOLR1
      fonts:
        - asset: packages/world_countries/assets/fonts/OpenMoji/OpenMoji-color-colr1_svg.ttf
    - family: OpenMojiCOLR0
      fonts:
        - asset: packages/world_countries/assets/fonts/OpenMoji/OpenMoji-color-glyf_colr_0.ttf

    # NotoEmoji
    - family: NotoEmojiCBDT
      fonts:
        - asset: packages/world_countries/assets/fonts/NotoEmoji/NotoColorEmoji.ttf
    - family: NotoEmojiOTSVG
      fonts:
        - asset: packages/world_countries/assets/fonts/NotoEmoji/noto_flags-picosvgz.ttf

flutter_gen:
  output: lib/src/generated/
  assets:
    enabled: false
  colors:
    enabled: false
  fonts:
    enabled: true
    outputs:
      class_name: WorldCountryFonts
      package_parameter_enabled: true # TODO: Until https://github.com/FlutterGen/flutter_gen/issues/357
