version: 3.9.4
name: world_countries
description: Sealed world data in form of Flutter widgets (country, phone, currency pickers, etc.).
maintainer: Roman Cinis
repository: https://github.com/tsinis/sealed_world/tree/main/packages/world_countries
issue_tracker: https://github.com/tsinis/sealed_world/issues
homepage: https://tsin.is/sealed_world/

# resolution: workspace

topics:
  - picker
  - country-picker
  - country-selector
  - currency-picker
  - language-picker

screenshots:
  - description: "Use with SearchAnchor widget"
    path: doc/search_anchor.webp
  - description: "Search picker example"
    path: doc/search_picker.webp
  - description: "Modal bottom sheet picker example"
    path: doc/modal_picker.webp

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter
  meta: ^1.17.0 # Same as in Flutter SDK.
  world_flags: ^2.9.1

dev_dependencies:
  _sealed_world_tests:
    path: ../_sealed_world_tests
  dart_code_metrics_presets: any # Constrained in the workspace pubspec.yaml
  flutter_test: # From Google
    sdk: flutter

flutter:
  uses-material-design: true # Pickers using the Material icon font.
