name: sealed_world
publish_to: none
description: Workspace for sealed_world ecosystem
maintainer: Roman Cinis
repository: https://github.com/tsinis/sealed_world
issue_tracker: https://github.com/tsinis/sealed_world/issues
topics:
  - countries
  - currencies
  - languages
  - sealed
  - iso

environment:
  sdk: ^3.8.1

workspace:
  - tools # Command-line tools for public packages.
  - packages/_sealed_world_tests # Internal tests for public packages.

  - packages/l10n_languages # Localized languages maps.
  - packages/l10n_currencies # Localized currencies maps.
  - packages/l10n_countries # Localized countries maps.

  - packages/sealed_languages # Sealed languages and scripts.
  - packages/sealed_currencies # Sealed currencies.
  - packages/sealed_countries # Sealed countries.

  - packages/world_flags # Country flags made with Flutter.
  - packages/world_countries # Pickers, selectors, typed locales for Flutter.

  - packages/world_flags/example # Example for the world_flags package.
  - packages/world_countries/example # Example for the world_countries package.
