name: publish_world_countries

on:
  push:
    branches: [main]
    tags:
    - 'world_countries-v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish-world-countries:
    if: false # Until: https://github.com/dart-lang/setup-dart/issues/68
    uses: ./.github/workflows/publish_to_pub.yaml
    permissions:
      id-token: write
    with:
      package_name: world_countries
      tag: ${{ github.ref }}