name: publish_sealed_currencies

on:
  push:
    branches: [main]
    tags:
    - 'sealed_currencies-v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  publish-sealed-currencies:
    if: github.ref_type == 'tag'
    uses: ./.github/workflows/publish_to_pub.yaml
    permissions:
      id-token: write
    with:
      package_name: sealed_currencies
      tag: ${{ github.ref }}