name: sealed_languages

on:
  push:
    branches: [main]
    paths:
      - "packages/sealed_languages/**"
  pull_request:
    branches: [main]
    paths:
      - "packages/sealed_languages/**"
      - ".github/workflows/sealed_languages.yaml"

jobs:
  verify-languages-dart:
    uses: ./.github/workflows/dart_package_workflow.yaml
    with:
      package_name: sealed_languages